@media (max-width: 1024px) {
    #home-top-area{
        display: block;
        width: 90%;
        margin: auto;
    }
    #recent-release-carousel-container{
        width: 100%;
        margin: auto;
    }
    #home-recent-area{
        margin: auto;
        width: 90%;
    }
    #promos-container{
        display: none;
    }
}
@media (min-width: 1025px) {
}