@font-face {
    font-family: Main;
    src: url(/docs/fonts/SF-Pro-Display-Regular.ttf);
}
body, html{
    margin: 0;
    padding: 0;
    font-family: Main;
    scroll-behavior: smooth;
}
#topbar{
    width: 100%;
    background-color: #719cb4;
}
#topbar-logo{
    min-width: 200px;
    max-width: 15%;
}
#topbar-under{
    width: 100%;
    height: 40px;
    background-color: #4e8aac;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#tablinks{
    font-size: 20px;
}
#tablinks a{
    text-decoration: none;
    color: white;
}
#tablinks a:active{
    color: #96d7e9;
}
#home-top-area{
    display: grid;
    grid-template-areas: 
        "recent recent recent recent recent promos"
    ;
    grid-gap: 20px;
    width: 1200px;
    margin: auto;
}
#home-top-area > div{  
}

#recent-release-carousel-container{
    grid-area: recent;
    width: 870px;
    transition: height 0.3s;
}
#promos-container{
    grid-area: promos;
    height: 400px;
    overflow-wrap:normal;
}
#promos-container img{
    width: 270px;
    border-radius: 10px;
}
.carousel-item img{
    border-radius: 10px;
}

#home-recent-area{
    width: 1200px;
    margin: auto;
}
#new-arrivals-title{
    background-color: #4e8aac;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white; 
}
#new-arrivals-container{
    border: solid #4e8aac 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#new-arrivals-items{
    padding: 10px;
}
